$bg-color: #363535;
$purple-intens: #8b2be2;
$color-electric: #1e90ff;
$pink-brilliant: #da2cff;
$default-color: #fff;

$size-large: 1.6rem;
$size-medium: 1.2rem;
$size-small: 0.7rem;
//$font-color: rgb(74, 73, 72);
